<nav>
    <div class="nav-option">
        <a routerLink="home"
            routerLinkActive="active">
            Home
        </a>
    </div>
    <div class="nav-option">
        <a routerLink="agents"
            routerLinkActive="active">
            Agents
        </a>
    </div>
    <div class="nav-option">
        <a routerLinkActive="active">
            Maps
        </a>
    </div>
    <div class="nav-option">
        <a routerLinkActive="active">
            Arsenal
        </a>
    </div>
    <div class="nav-option">
        <a routerLinkActive="active">
            Contact
        </a>
    </div>
</nav>